//COLORS
$first-color: #1F2421;
$second-color: #008D1B;
$third-color: #D1DEDE;
$fourth-color: #a29c9b;
$fifth-color: #EC058E;

//BACKGROUND IMAGE
$show: true; // Enable/Disable

//Home Background Image
$image: url('../img/services.png');
$bg-opacity: 0.9;

@mixin ground {
	@if $show {
		&#bg-img{
			background-image: $image;
            background-attachment: fixed;
            background-size: cover;
            z-index: 1;

            &:after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                background-color: rgba($first-color, $bg-opacity);
                z-index: -1;
            }
		}
	}
}

//TRANSITIONS
@mixin tran1 {
    transition: all .4s ease-in-out;
}

@mixin tran2 {
    transition: all .3s ease-out;
}

@mixin tran3 {
    transition: all .2s ease-in-out;
}

@mixin tran4 {
    transition: all .1s ease-out;
}