/*===== coded by Ronnel Codes =====*/
@font-face {
    font-family: HelveticaNeue;
    src: url('../fonts/HelveticaNeueLTStd-Lt.otf') format('openface');
}

/*===== ROOT CSS =====*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

   :root {
      $primary-color: #1F2421;
      $secondary-color:#008D1B;
      /*--color-3: #D1DEDE;
      --color-4: #854D27;
      --color-5: #877666;
      --color-6: #9197ae;
      --color-7: #a29c9b;
      --color-8: #FB8B24;
      --color-9: #6FFFE9;
      --color-10: rgba(209, 222, 222, 0.13);
      --transition: all .4s ease-in-out;
      --shadow: 0 3px 15px rgba(0, 0, 0, .6);*/
  }

/*=====CUSTOM CSS=====*/
 