@import 'config';
@import 'menu';

@font-face {
	font-family: 'HelveticaNeue';
	src: url('../dist/fonts/HelveticaNeueLTStd-Lt.otf') format('openface');
}

* {
	box-sizing: border-box;
}

body {
	@include ground;
	background-color: $first-color;
	font-size: 1.1rem;
	color: $third-color;
	font-family: 'HelveticaNeue', sans-serif;
	margin: 0;
	height: 100%;
	line-height: 1.5;
}

/*==== HEADINGS ====*/
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: 400;
  
	&.lg-head {
	font-size: 6rem;
    }

  &.sm-head {
	margin-bottom: 2rem;
	padding: 0.2rem 1rem;
	background-color: rgba(lighten($second-color, 2), 0.5)
	}
}

a {
	text-decoration: none;
	color: $third-color;
}

header {
	position: fixed;
	z-index: 2;
	width: 100%;
}

.text-second {
	color: $second-color;
}

main {
	padding: 4rem;
	height: 100%;
	.icons {
		margin-top: 1rem;
		a {
			padding: 1rem;
			&:hover {
				color: $second-color;
				@include tran1();
				transform: scale(1.5);
			}
		}
	}
	&#home {
		overflow: hidden;
		h1 {
			margin-top: 20vh;
		}
}
}
